---
const {works, title} = Astro.props;
---

<div class="flex flex-col gap-2">
  <p class="text-lg" data-aos="slide-right" data-aos-duration="500" >{title}</p>
  <div class="flex flex-col gap-2" >
  {works.map((work) => (
    <div
      class="border rounded-lg p-2 lg:p-4 text-sm text-zinc-600"
      data-aos="fade" data-aos-duration="1200"
    >
      <div class="w-full flex flex-row justify-between text-zinc-700">
        <p class=" font-semibold">{work.company}</p>
        <p>{work.year}</p>
      </div>
      <p>{work.occupation}</p>

      <div class="grid grid-cols-[70%_30%] gap-2 mt-2 lg:mt-5 space-y-2">
        {work.details.map(detail => (
          <>
            <ul class={`list-disc pl-2 lg:pl-4 ${detail?.link === null && "col-span-2"}`}>
              <li class="">{detail.name}</li>
            </ul>
            {detail?.link && <a href={detail.link.href} target="_blank"
                  class="hover:text-zinc-800 hover:underline shrink-0 text-right pr-1 underline underline-offset-4">{detail.link.text}</a>}
          </>
        ))}
      </div>
    </div>
  ))}
  </div>
</div>
